body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}

.modal {
    display: none;
    /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
}

.modal-image {
    max-width: 150px;
    /* adjust size */
    max-height: 150px;
    display: block;
    margin: 10px auto;
}

#questionText {
    font-size: 20px;
    margin: 15px 0;
}

#answerInput {
    padding: 8px;
    font-size: 18px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}